.team {
    list-style: none;
}

.sectionteam {
    display: flex;
    background-color: var(--btn-backround);
}

.sectionteam .team {
    display: flex;
    justify-content: space-between;
    margin-bottom: 94px;
}

.header-three-contact {
    font-style: medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 3%;
    text-align: center;
    color: var(--main-black);
    margin-top: 30px;
    margin-bottom: 10px;
}

.description-text-contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.186;
    letter-spacing: 3%;
    text-align: center;
    color: var(--main-grey);
    margin-bottom: 16px;
}